<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nhd.mall"
    android:versionCode="1"
    android:versionName="1.2.3" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 百度地图加的权限 -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.nhd.mall.app.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name="com.nhd.mall.activity.LuncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nhd.mall.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="store"
                    android:scheme="nhd-mall" />
                <data
                    android:host="product"
                    android:scheme="nhd-mall" />
                <data
                    android:host="brand"
                    android:scheme="nhd-mall" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nhd.mall.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.BeanWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MallMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MallMemberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MallSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MallShopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MallShopCarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.ShopCarMakeFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.ShopBranchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/myDialogTheme" />
        <activity
            android:name="com.nhd.mall.activity.HotGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.ThemeGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.TwoDimCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.DaoHanDoorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/myDialogTheme" />
        <activity
            android:name="com.nhd.mall.activity.GoodsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.GoodsDetailCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.AddAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MakeFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.SelectCustomerAddress"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MakeFormSelectAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.ModifyAdressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.ModifyMrmberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MyFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.GoodsCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MyFreightActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MyMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MyBeanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MyCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.ProductWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MyCouponActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.CouponListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.CouponDetailBuyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
                <activity
            android:name="com.nhd.mall.activity.CouponDetailGetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.CustomerCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.nhd.mall.share.ShareContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.nhd.mall.activity.GetPswActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.RigesterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.AlbumForGalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.ShopCarFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.BeanLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.FormDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.SearchProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.util.BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.slidemenu.SlidingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.slidemenu.SlidingFragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MessageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.EmployActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.ShopMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.shopGoodsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.MainCouponListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.ShangHuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.BranchDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.CouponBuyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.CouponDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.CouponFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.ThemesPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.SupplierActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.EventProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.ShopDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.BeanchSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.nhd.mall.activity.FormListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />
        <activity
            android:name="com.nhd.mall.activity.FormDetatilForGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" />

        <!-- 第三方登录与分享开始 -->
        <!-- 授权界面 -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <!--
            	Adapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter的类，
            	这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。
            	开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="Adapter"
                android:value="com.nhd.mall.share.MyAuthorizeAdapter" />
        </activity>
        <!-- 微信回调开始 -->
        <activity
            android:name="com.nhd.mall.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信回调结束 -->
        <!-- 第三方登录与分享结束 -->


        <!-- 百度云推送服务开始 -->
        <!-- push service client -->
        <receiver android:name="com.nhd.mall.push.MyPushMessageReceiver" >
            <intent-filter>

                <!-- 接收 push 消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收 bind、setTags 等 method 的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 可选。接受通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push service start -->
        <!-- 用于接收系统消息以保证 PushService 正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>

        <!-- Push 服务接收客户端发送的各种请求 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- push富媒体，不使用富媒体推送不需要 -->
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaViewActivity" >
        </activity>
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaListActivity"
            android:launchMode="singleTask" >
        </activity>
        <!-- push富媒体结束 -->
        <!-- Push  服务 -->
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- 百度云推送服务结束 -->
        <!-- 在百度开发者中心查询应用的API Key yYOZ5nT3Zn0TMDRddMLITTZl  secret Key: HE531tK1ssLYdj8Ll7cLiWwDnhALFCzZ -->
        <!--
            <meta-data
            android:name="api_key"
            android:value="5aVN55SdOTDQWecKk6bi1fcy" />
        -->
        <meta-data
            android:name="api_key"
            android:value="V1BosM5Z5mpb3kPKGeUVfVAj" />

        <provider
            android:name="com.nhd.mall.push.CacheProvider"
            android:authorities="com.nhd.mall.provider"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
        <!-- 阿里库 -->
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AlipayAppTheme"
            tools:ignore="DuplicateActivity" >
        </activity>
        <!-- 百度移动统计配置开始 -->
        <!-- 您从百度网站获取的APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="e214e432b7" />
        <!-- 是否开启错误日志统计，默认为false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 日志仅在wifi网络下发送，默认为false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取GPS位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取WIFI位置信息，默认为true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

        <activity
            android:name="com.nhd.mall.activity.FormSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle" >
        </activity>
        <activity
            android:name="com.nhd.mall.activity.FormTakeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitle"  >
        </activity>
    </application>

</manifest>